asn1crypto==0.24.0
Click==7.0
cryptography==2.3
enum34==1.1.6
Flask==1.0.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
passlib==1.7.1
psycopg2-binary==2.8.1
pycrypto==2.6.1
python-dotenv==0.10.1
pyxdg==0.26
SecretStorage==2.3.1
six==1.11.0
Werkzeug==0.15.3
WTForms==2.2.1
